---
import { getCollection, render, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { Content } = await render(post);

const dateFormatter = new Intl.DateTimeFormat("ko-KR", {
  dateStyle: "long",
});
---

<Layout
  title={`${post.data.title} | takeown.github.io`}
  description={post.data.summary}
>
  <article class="post-page">
    <header class="post-header">
      <a class="back-link" href="/blog/">블로그로 돌아가기</a>
      <div class="post-meta">
        <span>{post.data.tag}</span>
        <time datetime={post.data.date.toISOString()}>
          {dateFormatter.format(post.data.date)}
        </time>
      </div>
      <h1>{post.data.title}</h1>
      <p class="post-summary">{post.data.summary}</p>
    </header>

    <div class="post-content">
      <Content />
    </div>
  </article>
</Layout>
