---
import { posts, type BlogPost } from "../../data/posts";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: BlogPost;
};

const { post } = Astro.props;
---

<Layout
  title={`${post.title} | takeown.github.io`}
  description={post.summary}
>
  <article class="post-page">
    <header class="post-header">
      <a class="back-link" href="/blog/">블로그로 돌아가기</a>
      <div class="post-meta">
        <span>{post.tag}</span>
        <time datetime={post.dateTime}>{post.date}</time>
      </div>
      <h1>{post.title}</h1>
      <p class="post-summary">{post.summary}</p>
    </header>

    <div class="post-content">
      {post.body.map((paragraph) => <p>{paragraph}</p>)}
    </div>
  </article>
</Layout>
